@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
    Layout = "~/Views/Shared/_IdentityLayout.cshtml";
}
<div class="card-body">
    <h1>@ViewData["Title"]</h1><br />
    <p class="login-box-msg"> Please check your email to reset your password.</p><br />
   <h5><b> <a class="nav-link text-dark btn btn-info" asp-area="Identity" asp-page="/Account/Login">Go to Login</a></b></h5>
</div>


