@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = "~/Views/Shared/_IdentityLayout.cshtml";
}
<div class="card-body">
    <p class="login-box-msg">Enter your email..?</p>
    <form id="account" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="input-group mb-3">
            <input asp-for="Input.Email" class="form-control" placeholder="Enter Email..!" /><br />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
            <div class="input-group-append">
                <div class="input-group-text">
                    <span class="fas fa-envelope"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            <!-- /.col -->
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
